::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: #d6425b; 
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #9a2b3e; 
}
body{
	height: 100%;
	padding: 0px;
	margin: 0px 0px;
	background-color:white;
	line-height: 1.15;
	background-image:url("backgrounds/tlo3.jpeg");
	background-size:cover;
  
}
.sideBar{
    height:100%;
    width: 16%;
    position: fixed; 
    z-index: 1; 
    background-color:#e6f2ff; /*cce6ff  e6f2ff*/
    overflow: hidden; 
	top: 0;

	
}
.sideBar a{
	float:down;
	padding:25px;
    font-size: 23px;
	text-align:center;
    display: block;
	text-decoration:none;
	text-shadow:1px 1px white;
	font-family:"Courier New",Courier,monospace;
	font-weight: bold;
	color:black;
}
.sideBar a:hover{
	color: #af3449;
	background-color:#cce6ff;
}
.sideBar img{
	padding-left:27%;
}
.about h1{

	color:#9a2b3e;/*#9b0d23*/
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-shadow:1px 1px white;
	font-size:80px;
	margin:0;
	text-align:center;
	
	

}
.about {
		margin: 0px;
		width:75%;
		height:20%;
		padding: 0px;
		left:250px;
		position:fixed;
		top:30px;
		
		
}
.textbox{
    width: 65%;
    height:75%;
    background-color:#e6f2ff;
	position:fixed;
	padding-left:50px;
	padding-top:10px;
	padding-right:50px;
	right:75px;
	top:150px;
	border-radius:25px;
	overflow:scroll;
	word-wrap:break;
	text-shadow:1px 1px white;
	font-family:"Lucida Sans Unicode", Lucida Grande, sans-serif;
}
.textbox h2{
	
		text-align:center;
		font-size:50px;
		color:#9a2b3e;
		text-shadow:1px 1px white;
}
.textbox p{
	
	font-size:20px;
	line-height: 1.4;
}
.textbox a{
	
	color: #9a2b3e;
}
input[type=text] {
    width: 95%;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
	font-size:15px;
}
input[type="text"]:hover {
    border: 1px solid #999;
 
}
select {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
	font-size:15px;
}
select:hover{
    border: 1px solid #999;
}
input[type=submit]{
	width:20%;
	border: none;
    border-radius: 4px;
    background-color: #f9f9f9;
	font-size:20px;
	padding: 12px 16px;
	
}
input[type="submit"]:hover {
    border: 1px solid #999;
}
input:focus,
select:focus{
    outline: none;
}
.row {
  display: flex;
  padding: 0 4px;
  flex-wrap: wrap;
}
.column {
  flex: 50%;
  max-width: 50%;
 
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  body{
	  background-size:100% 700px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .sideBar{
	  width:100%;
	  height:10%;
	  
  }
  .sideBar a{
	  float:left;
	  font-size:20px;
	  padding:10px;
  }
  .sideBar img{
	  display:none;
  }
  .about{
	  
	  left:70px;
  }
  .about h1{
	font-size:40px;
	padding-top:50px;
	
  }
  
  .textbox{
	  
	  right:35px;
	 
  }
  .textbox p{
	  font-size:17px;
	  padding-bottom:20px;
  }
  .textbox h2{
	  
	  font-size:35px;
  }
  input[type=submit]{
	width:40%;
	border: none;
    border-radius: 4px;
    background-color: #f9f9f9;
	font-size:20px;
	padding: 12px 16px;
	
   }
}

