body{
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-image:url("backgrounds/tlo2.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:relative; 
	background-size:cover;
}
.sideBar{
    height:100%;
    width: 16%;
    position: fixed; 
    z-index: 1; 
    background-color:#e6f2ff; /*cce6ff  e6f2ff*/
    overflow: hidden; 
	top: 0;
	
	
}
.sideBar a{
	float:down;
	padding:25px;
    font-size: 23px;
	text-align:center;
    display: block;
	text-decoration:none;
	text-shadow:1px 1px white;
	font-family:"Courier New",Courier,monospace;
	font-weight: bold;
	color:black;
}
.sideBar a:hover{
	color: #af3449;
	background-color:#cce6ff;
}
.sideBar img{
	padding-left:27%;
}
#nazwa{
	font-size:80px;
	padding-left:38%;
	padding-top:0px;
	color:#9a2b3e;/*#9b0d23*/
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-shadow:1px 1px white;
}
.join {
    background-color:#9a2b3e;
    color: white;
	padding:3px 30px;
	position:relative;
	left:55%;
	top:-25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
	border:1px solid white;
}

@media screen and (max-width: 800px) {
	
	body{
		background-size:100% 900px;
		background-image:url("backgrounds/tlo3.jpeg");
	}
	.sideBar{
	  width:100%;
	  height:10%;
	  
	}
	.sideBar a{
	  float:left;
	font-size:20px;
	  padding:10px;
	}
	.sideBar img{
	  display:none;
	}
	.join{
		
		left:30%;
	}
	#nazwa{
		padding-left:0px;
		white-space:normal;
		text-align:center
	}
	
}